{% extends "../base.njk" %}
{% block content %}
<div class="service-banner-img">
  <div class="ovrllay">
    {% include "navbar.njk" %}
    <section id="banner" class="py-70">
      <div class="container">
        <div class="row py-70">
          <div id="banner-text" class="col-md-12 text-c">
            <div class="left-borders">
              <h5 class="wow fadeInUp main-about_h" data-wow-delay="0.2s">PRACTICE AREAS</h5>
              <p class="banner-text wow fadeInUp main-h3" data-wow-delay="0.8s">
                <span class="c_yellow">EXPERTISE</span> | OUR<br>LEGAL SERVICES
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div id="about" class="py-70 bg_gradient_team">
  <div class="container">
    <div class="row text-center mb-60">
      <div class="title wow fadeInUp">
        <h1>Our Services</h1>
        <div class="hed_img">
          <img src="assets/images/headding-img.png">
        </div>
        <p>Expert legal services tailored to your needs</p>
      </div>
    </div>

    <div class="row about_row  py-40">
            <!--#about-text start -->

            <div class="who_we_area col-md-4 col-sm-6 col-4pad wow fadeInUp">
                <div class="service-s">
                    <div class="servise-top wow fadeInUp">
                        <img src="assets/images/service2.png">
                    </div>
                    <h2 class="Practice"> Land Law, Real Estate & Construction </h2>
                    <p class="bottom-s">Our criminal defense attorneys will <br>protect your rights in court. </p>
                    <div class="button-div">
                        <a href="" class="button-buttom"> read more </a>
                    </div>
                </div>
            </div>

            <div class="who_we_area col-md-4 col-sm-6 col-4pad wow fadeInUp">
                <div class="service-s">
                    <div class="servise-top wow fadeInUp">
                        <img src="assets/images/service_c.png">
                    </div>
                    <h2 class="Practice">Technology, Data Protection & Digital Law </h2>
                    <p class="bottom-s">Our criminal defense attorneys will <br>protect your rights in court. </p>
                    <div class="button-div">
                        <a href="" class="button-buttom"> read more </a>
                    </div>
                </div>
            </div>


            <!--#End about-text  -->
            <div class="who_we_area col-md-4 col-sm-6 col-4pad wow fadeInUp">
                <div class="service-s">
                    <div class="servise-top wow fadeInUp">
                        <img src="assets/images/service_e.png">
                    </div>
                    <h2 class="Practice">Intellectual Property & Innovation Law </h2>
                    <p class="bottom-s">Our criminal defense attorneys will <br>protect your rights in court. </p>
                    <div class="button-div">
                        <a href="" class="button-buttom"> read more </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-50  py-40">
            <!--#about-text start -->
            <div class="who_we_area col-md-4 col-sm-6 col-4pad wow fadeInUp">
                <div class="service-s">
                    <div class="servise-top wow fadeInUp">
                        <img src="assets/images/service_d.png">
                    </div>
                    <h2 class="Practice"> Tax Law & Strategy </h2>
                    <p class="bottom-s">Our criminal defense attorneys will <br>protect your rights in court. </p>
                    <div class="button-div">
                        <a href="" class="button-buttom"> read more </a>
                    </div>
                </div>
            </div>
            <div class="who_we_area col-md-4 col-sm-6 col-4pad wow fadeInUp">
                <div class="service-s">
                    <div class="servise-top wow fadeInUp">
                        <img src="assets/images/labor.png">
                    </div>
                    <h2 class="Practice"> Employment & Labour Law </h2>
                    <p class="bottom-s">Our criminal defense attorneys will <br>protect your rights in court. </p>
                    <div class="button-div">
                        <a href="" class="button-buttom"> read more </a>
                    </div>
                </div>
            </div>

            <div class="who_we_area col-md-4 col-sm-6 col-4pad wow fadeInUp">
                <div class="service-s">
                    <div class="servise-top wow fadeInUp">
                        <img src="assets/images/service2.png">
                    </div>
                    <h2 class="Practice">Legal & Regulatory Audits </h2>
                    <p class="bottom-s">Our criminal defense attorneys will <br>protect your rights in court. </p>
                    <div class="button-div">
                        <a href="" class="button-buttom"> read more </a>
                    </div>
                </div>
            </div>
            <!--#End about-text  -->
        </div>
        <div class="row mt-50  py-40">
            <!--#about-text start -->
            <div class="who_we_area col-md-4 col-sm-6 col-4pad wow fadeInUp">
                <div class="service-s">
                    <div class="servise-top wow fadeInUp">
                        <img src="assets/images/service4.png">
                    </div>
                    <h2 class="Practice"> Insolvency & Business Restructuring</h2>
                    <p class="bottom-s">Our criminal defense attorneys will <br>protect your rights in court. </p>
                    <div class="button-div">
                        <a href="" class="button-buttom"> read more </a>
                    </div>
                </div>
            </div>

            <div class="who_we_area col-md-4 col-sm-6 col-4pad wow fadeInUp">
                <div class="service-s">
                    <div class="servise-top wow fadeInUp">
                        <img src="assets/images/service3.png">
                    </div>
                    <h2 class="Practice"> Dispute Resolution: Litigation & ADR </h2>
                    <p class="bottom-s">Our criminal defense attorneys will <br>protect your rights in court. </p>
                    <div class="button-div">
                        <a href="" class="button-buttom"> read more </a>
                    </div>
                </div>
            </div>

            <div class="who_we_area col-md-4 col-sm-6 col-4pad wow fadeInUp">
                <div class="service-s">
                    <div class="servise-top wow fadeInUp">
                        <img src="assets/images/company-icon.png">
                    </div>
                    <h2 class="Practice">Company Secretarial & Compliance </h2>
                    <p class="bottom-s">Our criminal defense attorneys will <br>protect your rights in court. </p>
                    <div class="button-div">
                        <a href="" class="button-buttom"> read more </a>
                    </div>
                </div>
            </div>
            <!--#End about-text  -->
        </div>
        <div class="row mt-50  py-40">
            <!--#about-text start -->
            <div class="who_we_area col-md-4 col-sm-6 col-4pad wow fadeInUp">
                <div class="service-s">
                    <div class="servise-top wow fadeInUp">
                        <img src="assets/images/service4.png">
                    </div>
                    <h2 class="Practice"> Public Procurement & PPPs</h2>
                    <p class="bottom-s">Our criminal defense attorneys will <br>protect your rights in court. </p>
                    <div class="button-div">
                        <a href="" class="button-buttom"> read more </a>
                    </div>
                </div>
            </div>

            <div class="who_we_area col-md-4 col-sm-6 col-4pad wow fadeInUp">
                <div class="service-s">
                    <div class="servise-top wow fadeInUp">
                        <img src="assets/images/advisory-icon.png">
                    </div>
                    <h2 class="Practice"> ESG & Sustainability Advisory</h2>
                    <p class="bottom-s">Our criminal defense attorneys will <br>protect your rights in court. </p>
                    <div class="button-div">
                        <a href="" class="button-buttom"> read more </a>
                    </div>
                </div>
            </div>

            <div class="who_we_area col-md-4 col-sm-6 col-4pad wow fadeInUp">
                <div class="service-s">
                    <div class="servise-top wow fadeInUp">
                        <img src="assets/images/service2.png">
                    </div>
                    <h2 class="Practice"> Corporate & Commercial Law </h2>
                    <p class="bottom-s">Our criminal defense attorneys will <br>protect your rights in court. </p>
                    <div class="button-div">
                        <a href="" class="button-buttom"> read more </a>
                    </div>
                </div>
            </div>
            <!--#End about-text  -->
        </div>
        <div class="row mt-50  py-40">
            <!--#about-text start -->
            <div class="who_we_area col-md-4 col-sm-6 col-4pad wow fadeInUp">
                <div class="service-s">
                    <div class="servise-top wow fadeInUp">
                        <img src="assets/images/service_e.png">
                    </div>
                    <h2 class="Practice"> Immigration & Citizenship Law</h2>
                    <p class="bottom-s">Our criminal defense attorneys will <br>protect your rights in court. </p>
                    <div class="button-div">
                        <a href="" class="button-buttom"> read more </a>
                    </div>
                </div>
            </div>


            <!--#End about-text  -->
        </div>
  </div>
</div>

<div class="our_partners_area bg_gradient_team">
  <div class="book_now_aera">
    <div class="container">
      <div class="row book_now">
        <div class="col-md-7 booking_text">
          <h4>Need Expert Legal Assistance?</h4>
          <p>Schedule a consultation with our experienced attorneys to discuss your legal needs.</p>
        </div>
        <div class="col-md-5 p0 book_bottun">
          <div class="col-md-5">
          </div>
          <div class="col-md-7">
            <div class="top-banner wow fadeInRight text-left">
              <a href="/contact" class="btn btn-primary radius-50 wow fadeInUp js-scroll-trigger" data-wow-delay="0.5s">Free Consultation</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
